receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  memory_limiter:
    check_interval: 5s
    limit_percentage: 80
    spike_limit_percentage: 25

  batch:
    timeout: 60s
    send_batch_size: 8192

exporters:
  otlphttp/victoriametrics:
    endpoint: http://vminsert:8480/insert/0/opentelemetry
    tls:
      insecure: true
    compression: gzip
    encoding: proto

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/victoriametrics]

  telemetry:
    metrics:
      address: 0.0.0.0:8888
